.summary {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-grow: 1;
  height: 100vh;
  .carrousel {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
     * {
    justify-self: center;
    }
  }
}

.main {
  padding: 1rem;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > h1 {
  font-size: calc(10vmin + 2px);
}

.main > h5 {
  font-size: calc(3vmin + 2px);
}

.main > subtitle {
  font-size: calc(5vmin + 2px);
}

.listContainer {
  width: auto;
  height: auto;
  margin: 0.25rem;
  .listImage {
    object-fit: contain;
    height: 70vh;
    width: auto;
    .listImageItem {
      * {
      height: 300px;
      width: 400px;
      }
    }
  }
}