.Contact {
  display: grid;
  height: 90vh;
  grid-template-rows: 1fr 2fr;
  background-color: #1e2952;
  text-align: center;
  * {
    color: white;
  }
  .Title {
    align-self: flex-end;
  }
  .Form {
    display: grid;
    grid-template-areas:
      "nombre apellidos"
      "email operacion"
      "message message"
      ". send";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .nombre {
      grid-area: nombre;
      justify-self: end;
      margin-right: 1rem;
    }
    .apellidos {
      grid-area: apellidos;
      justify-self: start;
      margin-left: 1rem;
    }
    .email {
      grid-area: email;
      justify-self: end;
      margin-right: 1rem;
    }
    .operacion {
      grid-area: operacion;
      justify-self: start;
      margin-left: 1rem;
    }
    .message {
      grid-area: message;
      justify-self: center;
      width: 50vw;
      * {
        width: 100%;
      }
    }
    .send {
      grid-area: send;
      display: grid;
      justify-content: center;
      height: 50%;
      grid-template-columns: auto;
      align-items: center;
      color: black;
      * {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
      }
    }
    * {
      display: grid;
      * {
        color: white;
      }
    }
  }
}
