.App-logo {
    height: 20vmin;
    pointer-events: none;
    margin: 2vh 0vh 0vh 0vh;
  }

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: #dfe0e2;
}

.App-header > h2 {
  margin: 0.25rem;
}

.App-header > span {
  margin-bottom: 1rem;
} 